/*************BODY*****************/
body{
    font-family:"Poppins", serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #0B2A58;
    margin:0.5em;
    background-color: #FFF3D6;
}

h2,h3,h4,p{
    margin-bottom:0.5em;
}

#wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
footer{
    padding-top: 1.5em;
}
/**************HEADER AND TOP NAV****************/
h1{
    font-size: 21px;
    color: #FFC533;
    background-color:#375E98;
    padding:0.5em;
    margin-bottom: 1em;
}
header{
    display: flex;
    justify-content: space-between;
}

#topMenu{
    display:none;
    position:absolute;
    background-color: #FFF3D6;
    border: solid 1px #0B2A58;
    right: 0;
    top:42px;
    padding:3px;
}

#topMenu ul li a{
text-decoration: none;
font-weight:bold;
color: #375E98;
}
#topMenu ul li a:hover{
    color:#0B2A58;
}

.menu{
    cursor:pointer;
}

.searchButton{
    font-family: "Poppins", serif;
    color:#FFC533;
    background-color:#375E98;
    border: solid 1px #0B2A58;
}
.searchButton:hover{
    background-color:#0B2A58;
}
/*****************PROGRAM MENU******************/

.searchPrograms{
    background-color:#E1D3B3;
    padding:2em;
}
.searchPrograms h2{
    font-size: 30px;
}

.programNav li{
    display:block;
    margin-right: 2em;
    background-color:#0B2A58;
    padding: 15px 20px;
}

.dropdown{
    padding: 0;
    position: absolute;
    display:none;
}

.dropdown li{
    display:block;
    border: solid 1px #0B2A58;
    padding: 0.5em 2em;
    margin-right: 0;
}

.programNav li:hover .dropdown{
    display:block;
}
ul .dropdown{
    position:static;
    
}
.programNav li a{
    text-decoration:none;
    color:#FFC533;
}
.programNav li a:hover{
    color:#CC9200;
}


/******************* BANNER ***********************/
.banner{
    height: 432px;
    background-image: url(images/queens-college-campus.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 40px; 
    margin-top: 2em;
}

.banner h3 a{
    color:white;
    text-decoration: none;
    line-height:1.2em;
    font-size: 30px;
 }
 .banner h3{
    background-color:#00000055;
    padding: 14px;
 }

 #apply{
    background-color: #FFC533;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
 }
 #apply:hover, #apply:active{
    background-color: #F5AF00;
 }

 .news a{
    color:#6D8EBF;
 }
 .news a:hover{
    color:#375E98;
 }
 .home article{
    background-color:#E1D3B3;
    padding:2em;
 }
/*************SECTIONS*************/
section, article{
    margin-bottom:0.5em;
    margin-top:1em;
}
section h2{
    text-transform:uppercase;
    font-weight:bold;
    color:#375E98
}
article h2{
    text-transform:none;
    color:#0B2A58;
}
.events a{
    color:#6D8EBF;
}
.events a:hover{
    color:#375E98;
}

.events img{
    width: 100%;
}


/*********CATERGORY PAGES**********/

.category h2{
    padding-top:1em;
}

.card{
    background-color:#E1D3B3;
    position: relative;
}

.card img{
 width: 100%
}
.card h2, .card h3, .card p{
    text-decoration: none;
    color: #0B2A58;
}

.card h3{
    text-transform: uppercase;
}

h2{
    font-size: 1.4em;
    font-weight:bold;
}

.cardBody{
    padding:1em;
    padding-bottom: 60px;
}

.cardBody a{
    color:white;
    background-color: #375E98;
    text-decoration:none;
    padding: 9px;
    margin-top: 12px;
    position:absolute;
    bottom: 1em;
}
.cardBody a:hover{
    background-color: #0B2A58;
}
/**********DESKTOP RESPONSIVE***********/
 @media (min-width:768px){

    /******INDEX PAGE******/
    .menu{
        display:none;
    }
    #topMenu{
        display:flex;
        border:none;
        position:static;
    }
    #topMenu ul{
        display:flex
    }
    #topMenu li{
        margin-right: 1em;
    }
    .programNav ul{
        display: flex;
        justify-content: space-between;
        z-index:1;
    }
    .programNav ul li{
        width:32%;
        position:relative;
    }
    .programNav ul li:hover{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .programNav .dropdown{
        display:none;
        position:absolute;
        width: 100%;
    }
    
    ul .dropdown{
        position:relative;
        right: 0px;
        top:52px;
    }
    div.home{
        display:grid;
        grid-template-columns: 2fr 1fr;
        column-gap:1em;
    }
/*******OTHER PAGES******/
    main.home{
        display:grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1em;
    }
    .programCards{
        display:grid;
        grid-template-columns:repeat(auto-fill, 285px);
        gap:20px;
    }
}