/*page formatting*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/*TYPOGRAPHY***********************************/
body{
    width:auto;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size:16px;
    line-height: 1.5;
}
header p{
    color: rgb(255, 255, 255);
    max-width:700px;
    line-height: 1.5;
    margin-bottom: 35px;
}
header{
    font-size:18px;
}
/*HEADER********************************/
/*mandalorian banner*/
header{
    height: 350px;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 50%, 65%,rgba(0, 0, 0, 0)), url(images/midtermbanner.jpg);
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 963px 527px;
    background-attachment: fixed, scroll;
    padding: 40px;  
}

/*mandalorian logo*/
#logo{
    width: 45%;
    margin-right: 65%;
    min-width: 400px;
}
/*watch button*/
.btn{
    color:rgb(255, 255, 255);
    line-height: 1.5;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 10px;
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
 }
 .btn:hover{
     background-color: rgb(255, 255, 255);
     color: rgb(0, 0, 0)
 }

 /* NAV *******************************/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
li{
    display:inline;
}
li a{
    display: inline-block;
    padding: 8px;
    background-color:rgb(0, 0, 0);
    color: white;
    font-size:22px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  /*******************ABOUT SECTION************************/
  main{
    margin: 1em 2em;
    overflow: auto;
  }
  div.left{
    width: 48%;
    float: left;
  }
  div.right{
    margin-top: 5em;
    width: 48%;
    float: right;
  }
/****************EPISODES SECTION******************/

.episodes{
  display:flex;
  flex-wrap:wrap;
}
.card{
  width:24%;
  margin-right:1%;
}

.card img{
  width:100%;
}
/********* FOOTER SECTION ***********************/
  footer{
    margin:2em;
    clear:both;
    font-size:smaller;
  }
 