header{
    background: linear-gradient(to left, rgba(0, 0, 0,0), rgba(0,0,0,1)) url("images/midtermbanner.jpg") no-repeat right top;
}

#logo{
    width: 30%
}

p{

}

/* padding: 30px;
    background: 
    linear-gradient(90deg, #000 0%, #000 33%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%)
    url("images/midtermbanner.jpg") no repeat top right/70%;
    border-style: dashed;
    margin-right: 400px; 
    
    
    background:
    #000000 url("midtermbanner.jpg") top right/70% no-repeat;*/