header{
    height: 250px;
   background-image: linear-gradient(to right, rgb(0, 0, 0) 40%, 55%,rgba(0, 0, 0, 0)), url(images/midtermbanner.jpg);
   background-position: left top, right top;
   background-repeat: no-repeat, no-repeat;
   background-size: auto, 70%;
   background-attachment: fixed, scroll;
   padding: 40px; 
        p, a{
            color: white;
            margin-right: 65%;
}
}

#logo{
    width: 30%;
}

